.center-img {
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 100%;  /* Ensures the image doesn't overflow */
  }

  .category-button {
    position: relative;
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    color: #333;
    text-align: center;
    font-weight: 300;
    overflow: hidden; /* Ensure the line stays within the button */
  }
 
  .category-button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Line is always visible with full width */
    height: 2px;
    background-color: #ccc; /* Light color by default */
    transform: scaleX(1); /* Line is always visible, not scaled to 0 */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and width */
    font-weight: 500;
  }
  
  .category-button:hover:before {
    background-color: #000; /* Darken the line on hover */
    transform: scaleX(1); /* Ensure the line remains full width */
  }
  
  .category-button.active {
    color: #000; /* Text color for active category */
  }
  
  .category-button.active:before {
    background-color: #000; /* Dark line color for active category */
  }
  .dark .category-button {
    color: white;
  }
  .dark .category-button.active:before {
    background-color: #cebaba; /* Dark line color for active category */
  }
  /* Dark mode support */
  .dark .category-button:before {
    background-color: #666; /* Light color for dark mode */
  
  }
  
  .dark .category-button:hover:before {
    background-color: #fff; /* Dark mode hover line color */
  }
  
  .relative {
    position: relative;
  }
  
  .shadows {
    position: absolute; /* To position dropdown relative to the parent */
    top: 110%; /* Position it directly below the button */
    left: 0;
    width: 130px; /* Ensure the width is appropriate for your layout */
    
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
    
  }
  .dark .dropdown-item:hover {
    background-color: #f1f1f1;
    color: black
  }
  
  
  .sort-button {
    display: flex;
    align-items: center;
    padding: 0.1rem 0.4rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;

  }
  .dark .sort-button{
    background-color: #542626;
  }
  
  .sort-button:hover {
    background-color: #e0e0e0;
  }
  .dark .sort-button:hover {
    color: #0d0505;
  }
  .arrow {
    margin-left: 7px;
    transition: transform 0.3s ease;
  }
  
  .rotate {
    transform: rotate(180deg); /* Rotates the arrow when dropdown is visible */
  }
  