@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply m-0 p-0 box-border
  
}

body{
  @apply
  dark:bg-[#202124]
  dark:text-darkText
  

}

.size{
  @apply w-[95%] md:w-[90%] mx-auto;
}

.shadows{
  box-shadow: 0px 0px 3px 0.3px rgb(182, 182, 182);
  
}

.btn{
  @apply px-3 p-2 text-sm font-medium;
}

.center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.write .ql-editor{
font-size: 1.2rem !important;
padding: 0 !important;
}

.absolute.right-0.mt-2.w-64 {
  /* Scrollbar styles */
  &::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: #e9d7d7; /* Darker thumb (blackish) */
 
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9d7575; /* Dark track */
    border-radius: 10px;  /* Optional: rounded corners */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker thumb color on hover */
  }
}

.dark .absolute.right-0.mt-2.w-64 {
  /* Scrollbar styles */
  &::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background-color: #333; /* Dark track */
  }

  &::-webkit-scrollbar-thumb {
    background: #5a4646; /* Darker thumb (blackish) */
    border-radius: 10px;  /* Optional: rounded corners */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker thumb color on hover */
  }
}