.write-container {
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
  }
  
  .content-editable {
    min-height: 300px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 20px;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .add-image-btn {
    display: inline-block;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #5cb85c;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .add-image-btn:hover {
    background-color: #4cae4c;
  }
  
  .preview-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
  }
  
  .preview-content {
    max-width: 800px;
    margin: 50px auto;
    padding: 2rem;
  }
  
  .publish-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .publish-btn:hover {
    background-color: #218838;
  }
  .react-quill-container img {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
  }
  .react-quill-container {
    max-height: 300px;
    overflow-y: auto;
    
  }
  .dark .quill > .ql-container > .ql-editor.ql-blank::before{
    color: gray;
}